@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('../css/./restyle.css');


$bodyFont: "Josefin Sans", sans-serif;
$bodyColor: #667b91;
$contentWidth: 1167px;
$colorTextP: #eb8382;
$auto: 0 auto;
$backgroundColor: #fff5eb;
$background: #FFE6D7;

body { 
    margin: $auto;
    font-family: $bodyFont;
}
//  Основной блок - родитель
.container { 
   position: relative;
}

.btn { 
    color: white;
    text-decoration: none;
    // padding: 19 / 20px;
    padding: 1rem;
}
.header_cont { 
        padding-top: 30px;
        padding-bottom: 130px;
        width: 100%;
        display: flex;
        position: absolute;
        z-index: 1;
        > .header_container {
            width: $contentWidth;
            margin: $auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            > .header_logo { 
                > .burger  {
                    position: fixed;
                    visibility: hidden;
                }
                .burger > .bar { 
                    width: 30px;
                    height: 6px;
                    margin: 5px 0;
                    background-color: $bodyColor;
                    transition: 0.3s;
                }
            }
            .navigator_info, ul  {
                display: flex;
                align-items: center;
                gap: 1.6rem;
                font-size: 23px;
                .button_btn { 
                    border: 1px solid black;
                    // border-radius: 30%;
                    border-radius: 50% 20% / 10% 40%;
                }
                li >  a {
                    color: $bodyColor;
                    text-decoration: none;
                } li > a:hover { 
                    border-bottom: 1px solid black;
                }
            }   
            .button_btn { 
                color: #fff;
                background-color: rgb(62, 158, 219);
            }
            @media screen and (max-width: 1305px) {
                &.header_container  { 
                    flex-direction: column;
                    gap: 2rem;
                }
            }
            @media screen and (max-width: 758px) { 
                .navigator_info  {
                    visibility: hidden;
                }
                .header_logo {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                }
                .header_logo > .burger { 
                    position: sticky;
                    visibility: visible;
                }

                .navigator_info { 
                    background-color: red;
                }
                .navigator_info, ul { 
                    position: absolute;
                    right: 49px;
                    top: 97px;
                    flex-direction: column;
                    align-items: flex-end;

                    > a { 
                        width: 225px;
                    }
                }
            }
        } 
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  main { 
    display: flex;
    flex-direction: column;
    overflow: hidden;
// 583,5
        > .gamebar { 
            background: url('/img/image-section-one.png') center center no-repeat ;
            background-color: $backgroundColor;
            background-size: cover;
            padding-top: 11.3rem;
            padding-bottom: 8.4rem;
            > .gamebar_container { 
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: $contentWidth;
                margin: $auto;
                 > .gamebar_container_row { 
                    display: flex;
                    position: relative;
                    gap: 3rem;
                    align-items: center;
                    > .gamebar_section_left , .gamebar_section_rigth { 
                        max-width: ($contentWidth /2);
                    }
                    > .gamebar_section_left { 
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        h4 {
                            font-weight: bold;
                        }
                        h2 { 
                            color: $colorTextP;
                            font-weight: 900;
                            font-size: 3.3rem;
                        }
                        h3  {
                            color: $bodyColor;
                            font-size: 3.1rem;
                        }
                        p  {
                            letter-spacing: 1.3;
                            font-size: 20px;
                        }
                        button { 
                            width: 300px;
                            border: 1px solid black;
                            // border-radius: 30%;
                            border-radius: 50% 20% / 10% 40%;
                            color: #fff;
                            padding: 1rem;
                            background-color: rgb(62, 158, 219);
                        }
                        img { 
                            animation: rotate 2s linear infinite;
                            position: absolute;
                            top: 32rem;
                            left: 28rem;
                        }
                    }
                    @keyframes move {
                        0% {
                          top: 0;
                          left: 0;
                        }
                        25% {
                          top: 0;
                          left: 50px; 
                        }
                        50% {
                          top: 50px;
                          left: 100px;
                        }
                        75% {
                          top: 70px;
                          left: 0; 
                        }
                        100% {
                          top: 40px;
                          left: 0;
                        }
                      }
                    > .gamebar_section_rigth { 
                        animation: move 8s infinite; 
                        display: flex;
                        align-items: center;
                        position: relative;
                        > .gamebar_images_property {

                            > .gamebar_images_row { 
                                display: flex;
                                align-items: center;
                            }
                            > .gamebar_images_row > .gamebar_row_one {
                                min-width: 100%;
                            }
                            > .gamebar_images_row > .gamebar_row_one >  .gamebar_objects_image_low { 
                                position: absolute;
                                z-index: 1;
                                // max-width: 100%;
                            }
                            > .gamebar_images_row  > .gamebar_row_one > .gamebar_objects_image { 
                                position: relative;
                                z-index: 4;
                            }
                            .gamebar_images_row > .gamebar_row_two {
                                display: flex;
                                position: absolute;
                                width: 100%;
                            }
                            > .gamebar_images_row > .gamebar_row_two > .gamebar_box1 { 
                                // 
                                position: absolute;
                                bottom: 12rem;
                                right: 84%;
                            }
                            > .gamebar_images_row > .gamebar_row_two > .gamebar_box2 { 
                                // 
                                position: absolute;
                                top: 13rem;
                                left: 53%;
                                z-index: 5;
                            }
                        }
                        }
                    }
                 }
                 @media screen and (max-width:1305px) {
                    .gamebar_container  {
                        padding-top: 7rem;
                        >  .gamebar_container_row {
                            gap: 10rem;
                            max-width: 500px;
                            align-items: center;
                            justify-content: center;
                            
                            >   .gamebar_section_left { 
                                > img { 
                                    position: absolute;
                                    top: 38rem;
                                    left: 9rem;
                                }
                            }
                           }
                    }
                   .gamebar_images_row > .gamebar_row_one > img { 
                    position: absolute;
                    z-index: 1;
                }
                 }
                 @media screen and (max-width:1075px) {
                    .main > .gamebar { 
                        padding-top: 8.3;
                    }
                    .gamebar_container { 
                        padding-top: 3.1rem;
                         > .gamebar_container_row { 
                                display: flex;
                                flex-direction: column;
                                >.gamebar_section_left { 
                                    > img { 
                                        position: absolute;
                                        top: 25rem;
                                        left: 25rem;
                                    }
                                }
                               } 
                       }
                }
          }

        > .vr_about_info { 
      
            background: url('/img/about-bg.jpg') center center no-repeat;
            background-color: $backgroundColor;
            background-size: cover;
            >   .vr_about_container { 
                max-width: $contentWidth;
                margin: $auto;
                 }
            .vr_about_container_row { 
                padding-top: 3.3rem * 2;
                padding-bottom: 3rem;
                gap: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                > .vr_about_section_left { 
                    position: relative;
                    .vr_screen_savage { 
                        animation: moveUpDown 3s ease-in-out infinite;
                        position: absolute;
                        left: 17rem;
                        bottom: 15rem;
                    }
                }
                > .vr_about_section_right { 
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;


                    h4 { 
                        color: $bodyColor;
                        font-size: 20px;
                    }
                    h2 { 
                        color: $colorTextP;
                        font-size: 3.3rem;
                    }
                    p { 
                        line-height: 23.7px;
                        font-weight: bold;
                    }
                    a { 
                        text-align: center;
                        text-decoration: none;
                        font-size: 22px;
                        width: 210px;
                        border: 1px solid black;
                        border-radius: 50% 20% / 10% 40%;
                        color: #fff;
                        padding: 1rem;
                        background-color: rgb(62, 158, 219);
                    }
                    
                }

            }
            @media screen and (max-width: 1075px) {
                     .vr_about_container_row { 
                        display: flex;
                        flex-direction: column;
                        margin: 0 auto;
                        max-width: 500px;
                    }
              
                }
            
            @keyframes moveUpDown {
                0% {
                  transform: translateY(0);
                }
                50% {
                  transform: translateY(100px);
                }
                100% {
                  transform: translateY(0); 
                }
              }
        }
        .about_pc { 
            background: url('/img/about-pc-bg.jpg') center center no-repeat; 
            background-size: cover;
        }
      
        .about_pc_container {
            max-width: $contentWidth;
            margin: $auto;
        }
        .about_pc_container_row { 
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5rem;
            padding-top: 10rem;
            padding-bottom: 14rem;

            > .about_pc_section_left { 
                display: flex;
                flex-direction: column;
                gap: 1.3rem;
                h4  {
                    color: $bodyColor;
                    font-size: 20px;
                    font-weight: bold;
                }
                h2 { 
                    color: $colorTextP;
                    font-weight: bold;
                    font-size: 3.4rem;
                }
                p { 
                    line-height: 23.7px;
                        font-weight: bold;
                }
                a { 
                    text-align: center;
                    text-decoration: none;
                    font-size: 22px;
                    width: 210px;
                    border: 1px solid black;
                    border-radius: 50% 20% / 10% 40%;
                    color: #fff;
                    padding: 1rem;
                    background-color: rgb(62, 158, 219);
                }
             }
             > .about_pc_section_rigth { 
                position: relative;
                
            .about_pc_images_row { 
                position: relative;
            }
           .about_element_1 { 
            position: absolute;
            z-index: 1;
           }
           .about_element_2 { 
            position: absolute;
            bottom: 7rem;
            right: -4rem;
           }
           .about_element_3 {
            position: absolute;
            left: 11rem;
            bottom: 10rem;
            z-index: 7;
            animation: spin 2s linear infinite;

           }
           .about_element_4 { 
            position: absolute;
            left: 16rem;
            bottom: 12rem;
            z-index: 7;
            animation: spin 2s linear infinite;
           }
           .about_element_5  {
            position: absolute;
            left: 2rem;
            bottom: 2rem;
            z-index: 5;
           }
           .about_element_6  {
            position: relative;
            top: 10rem;
            z-index: 6;
           }
           @keyframes spin {
            0% {
              transform: rotate(0deg); /* Начальная позиция */
            }
            100% {
              transform: rotate(360deg); /* Полный оборот */
            }
          }
        }
        }  
        .plan { 
                background-color: $background;
                padding-top: 5.3rem;
                padding-bottom: 5rem;
            .plan_container { 
                max-width: $contentWidth + 100px;
                margin: $auto;

            }   
            .plan_container_row { 
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
                .plan_header { 
                    gap: 1rem;

                    h3 { 
                        color: $bodyColor;
                        font-weight: bold;
                        font-size: 30px;
                        text-align: center; 
                    }
                    h1  {
                        padding-top: 1.5rem;
                        color: $colorTextP;
                        font-weight: bold;
                        font-size: 4.11rem;
                        text-align: center;
                    }
                }
                .plan_row { 
                    display: flex;
                    align-items: center;
                    flex: 1;
                    padding-top: 4rem;
                    gap: 3rem;

                    .plan_price_list { 
                        display: flex;
                        flex-direction: column;
                        background-color: #fbdacf8c;
                        padding: 3rem;
                        border-radius: 2rem;
                        p {
                            color: $bodyColor;
                            font-weight: normal;
                            font-size: 2.2rem;
                            padding-bottom: 2rem;
                        }
                        .pricing_list_price { 
                            color: $colorTextP;
                            font-size: 2.4rem;
                            padding-bottom: 2rem;
                            span { 
                                font-size: 3.2rem;
                                font-weight: bold;
                            }
                        }
                        ul > li { 
                            // background: url('/img/click.png');
                            padding-bottom: 2rem;
                            list-style:  url('/img/click.png');
                            color: $bodyColor;
                            font-weight: bold;
                        }
                        a { 
                        
                        }
                        .button_btn  {
                            border: 1px solid black;
                            border-radius: 3rem;
                            font-size: 20px;
                            color: #fff;
                            padding: 1rem;
                            background-color: rgb(62, 158, 219);
                            text-decoration: none;
                            text-align: center;
                        }
                    }
                    .plan_price_list_style { 
                        display: flex;
                        flex-direction: column;
                        background: linear-gradient(90deg, rgba(72,100,130,1) 0%, rgba(102,106,135,1) 55%, rgba(124,110,139,1) 100%);
                        padding: 5rem 3rem;
                        border-radius: 2rem;
                  
                        p {
                            color: #fff;
                            font-weight: normal;
                            font-size: 2.2rem;
                            padding-bottom: 2rem;
                        }
                        .pricing_list_price { 
                            color: $colorTextP;
                            font-size: 2.4rem;
                            padding-bottom: 2rem;
                            span { 
                                font-size: 3.2rem;
                                font-weight: bold;
                            }
                        }
                        ul > li { 
                            // background: url('/img/click.png');
                            padding-bottom: 2rem;
                            list-style:  url('/img/click.png');
                            color: #fff;
                            font-weight: bold;
                        }
                        a { 
                        
                        }
                        .button_btn  {
                            border: 1px solid black;
                            border-radius: 3rem;
                            font-size: 20px;
                            color: #fff;
                            padding: 1rem;
                            background-color: rgb(62, 158, 219);
                            text-decoration: none;
                            text-align: center;
                        }
                    }
                }
                @media screen and (max-width: 1305px) {
                    .plan_row { 
                        max-width: 500px;
                        flex-wrap: wrap;
                    }
                }
        }

        @media screen and (max-width: 1075px) { 
            .about_pc_container_row { 
                display: flex;
                flex-direction: column;
                max-width: 500px;
                align-items: center;
                margin: $auto;
          }
        }

  }

