@import url(restyle.css);
@import url(var-fonts.css);

.body_cont { 
    min-width: 300px;
    height: 100%;
}

.container {
    margin: 0 auto;
    overflow: hidden;
}

.header_cont { 
    position: absolute;
    z-index: 21;
    padding-top: 31px;
    width: 100%;

}
.header_container { 
    max-width: 1167px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigator_info { 
    display: flex;
    align-items: center;
    gap: 2.3rem;
    font-family: var(--fonts);
    transition: 3.3s;
}
.button_btn {
    text-decoration: none;
    font-size: 18px;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(115,103,190,1) 95%);
    color: #fff;
    padding: 19px 16px;
    border-radius: 50px;
    letter-spacing: 2.3px;
}
.header_style_list { 
    display: flex;
    gap: 2em;
    color: var(--colors);
    font-size: 16px;
}

.gamebar {
    padding-top: 200px;
    padding-bottom: 50px;
    background: url('../img/image-section-one.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(255 187 187);
}
.gamebar_container {
    display: grid;
    grid-gap: 120px;
    max-width: 1170px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}


.gamebar_section_left {
    display: flex;
    flex-direction: column;

}

.gamebar_section_rigth {
    position: relative;
    width: 100%;
    height: 100%;
}
.gamebar_lowproperty_image_svg { 
    position: absolute;
    z-index: 1;
    zoom: 2.88;
}


.gamebar_highproperty_image { 
    position: relative;
    z-index: 2;
}

.gamebar_box1 { 
    position: absolute;
    bottom: -12px;
    left: 26rem;
    z-index: 5;
}

.gamebar_box2 {
    position: absolute;
    left: -140px;
    top: -60px;
}


.gamebar_highproperty_image > img { 
    width: 100%;
}


.gamebar_section_left > h4 { 
    color: var(--colors);
    font-size: 20px;
}
.gamebar_section_left > h2 { 
    color: #eb8382;
    font-size: 3.3rem;
    font-weight: bold;
    font-style: initial;
}
.gamebar_section_left > h3  {
    color: var(--colors);
    font-size: 3.4rem;
    padding-bottom: 1rem;
}

.gamebar_section_left > p {
    font-size: 12px;
    padding-bottom: 1.4rem;
    color: #826f8c;
    font-weight: bold;
}

.gamebar_section_left > .button_btn {
    max-width: 240px;
    padding: 10px 10px;
}


@media screen and (max-width: 1440px) {
    .gamebar_container { 
        max-width: 800px;
    }
    .gamebar_box1 {
        position: absolute;
        bottom: -63px;
        left: 235px;
        z-index: 5;
    }
}