@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("../css/./restyle.css");
body {
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  position: relative;
}

.btn {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.header_cont {
  padding-top: 30px;
  padding-bottom: 130px;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 1;
}
.header_cont > .header_container {
  width: 1167px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_cont > .header_container > .header_logo > .burger {
  position: fixed;
  visibility: hidden;
}
.header_cont > .header_container > .header_logo .burger > .bar {
  width: 30px;
  height: 6px;
  margin: 5px 0;
  background-color: #667b91;
  transition: 0.3s;
}
.header_cont > .header_container .navigator_info, .header_cont > .header_container ul {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 23px;
}
.header_cont > .header_container .navigator_info .button_btn, .header_cont > .header_container ul .button_btn {
  border: 1px solid black;
  border-radius: 50% 20%/10% 40%;
}
.header_cont > .header_container .navigator_info li > a, .header_cont > .header_container ul li > a {
  color: #667b91;
  text-decoration: none;
}
.header_cont > .header_container .navigator_info li > a:hover, .header_cont > .header_container ul li > a:hover {
  border-bottom: 1px solid black;
}
.header_cont > .header_container .button_btn {
  color: #fff;
  background-color: rgb(62, 158, 219);
}
@media screen and (max-width: 1305px) {
  .header_cont > .header_container.header_container {
    flex-direction: column;
    gap: 2rem;
  }
}
@media screen and (max-width: 758px) {
  .header_cont > .header_container .navigator_info {
    visibility: hidden;
  }
  .header_cont > .header_container .header_logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header_cont > .header_container .header_logo > .burger {
    position: sticky;
    visibility: visible;
  }
  .header_cont > .header_container .navigator_info {
    background-color: red;
  }
  .header_cont > .header_container .navigator_info, .header_cont > .header_container ul {
    position: absolute;
    right: 49px;
    top: 97px;
    flex-direction: column;
    align-items: flex-end;
  }
  .header_cont > .header_container .navigator_info > a, .header_cont > .header_container ul > a {
    width: 225px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
main > .gamebar {
  background: url("/img/image-section-one.png") center center no-repeat;
  background-color: #fff5eb;
  background-size: cover;
  padding-top: 14.3rem;
  padding-bottom: 8.4rem;
}
main > .gamebar > .gamebar_container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1167px;
  margin: 0 auto;
}
main > .gamebar > .gamebar_container > .gamebar_container_row {
  display: flex;
  position: relative;
  gap: 3rem;
  align-items: center;
}
main > .gamebar > .gamebar_container > .gamebar_container_row > .gamebar_section_left, main > .gamebar > .gamebar_container > .gamebar_container_row .gamebar_section_rigth {
  max-width: 583.5px;
}
main > .gamebar > .gamebar_container > .gamebar_container_row > .gamebar_section_left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main > .gamebar > .gamebar_container > .gamebar_container_row > .gamebar_section_left h4 {
  font-weight: bold;
}
main > .gamebar > .gamebar_container > .gamebar_container_row > .gamebar_section_left h2 {
  color: #eb8382;
  font-weight: 900;
  font-size: 3.3rem;
}
main > .gamebar > .gamebar_container > .gamebar_container_row > .gamebar_section_left h3 {
  color: #667b91;
  font-size: 3.1rem;
}
main > .gamebar > .gamebar_container > .gamebar_container_row > .gamebar_section_left p {
  letter-spacing: 1.3;
  font-size: 20px;
}
main > .gamebar > .gamebar_container > .gamebar_container_row > .gamebar_section_left button {
  width: 300px;
  border: 1px solid black;
  border-radius: 50% 20%/10% 40%;
  color: #fff;
  padding: 1rem;
  background-color: rgb(62, 158, 219);
}
main > .gamebar > .gamebar_container > .gamebar_container_row > .gamebar_section_left img {
  animation: rotate 2s linear infinite;
  position: absolute;
  top: 32rem;
  left: 28rem;
}
@keyframes move {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 50px;
  }
  50% {
    top: 50px;
    left: 100px;
  }
  75% {
    top: 70px;
    left: 0;
  }
  100% {
    top: 40px;
    left: 0;
  }
}
main > .gamebar > .gamebar_container > .gamebar_container_row > .gamebar_section_rigth {
  animation: move 8s infinite;
  display: flex;
  align-items: center;
  position: relative;
}
main > .gamebar > .gamebar_container > .gamebar_container_row > .gamebar_section_rigth > .gamebar_images_property > .gamebar_images_row {
  display: flex;
  align-items: center;
}
main > .gamebar > .gamebar_container > .gamebar_container_row > .gamebar_section_rigth > .gamebar_images_property > .gamebar_images_row > .gamebar_row_one {
  min-width: 100%;
}
main > .gamebar > .gamebar_container > .gamebar_container_row > .gamebar_section_rigth > .gamebar_images_property > .gamebar_images_row > .gamebar_row_one > .gamebar_objects_image_low {
  position: absolute;
  z-index: 1;
}
main > .gamebar > .gamebar_container > .gamebar_container_row > .gamebar_section_rigth > .gamebar_images_property > .gamebar_images_row > .gamebar_row_one > .gamebar_objects_image {
  position: relative;
  z-index: 4;
}
main > .gamebar > .gamebar_container > .gamebar_container_row > .gamebar_section_rigth > .gamebar_images_property .gamebar_images_row > .gamebar_row_two {
  display: flex;
  position: absolute;
  width: 100%;
}
main > .gamebar > .gamebar_container > .gamebar_container_row > .gamebar_section_rigth > .gamebar_images_property > .gamebar_images_row > .gamebar_row_two > .gamebar_box1 {
  position: absolute;
  bottom: 12rem;
  right: 84%;
}
main > .gamebar > .gamebar_container > .gamebar_container_row > .gamebar_section_rigth > .gamebar_images_property > .gamebar_images_row > .gamebar_row_two > .gamebar_box2 {
  position: absolute;
  top: 13rem;
  left: 53%;
  z-index: 5;
}
@media screen and (max-width: 1305px) {
  main > .gamebar .gamebar_container {
    padding-top: 7rem;
  }
  main > .gamebar .gamebar_container > .gamebar_container_row {
    gap: 10rem;
    max-width: 500px;
    align-items: center;
    justify-content: center;
  }
  main > .gamebar .gamebar_container > .gamebar_container_row > .gamebar_section_left > img {
    position: absolute;
    top: 38rem;
    left: 9rem;
  }
  main > .gamebar .gamebar_images_row > .gamebar_row_one > img {
    position: absolute;
    z-index: 1;
  }
}
@media screen and (max-width: 1075px) {
  main > .gamebar .main > .gamebar {
    padding-top: 8.3;
  }
  main > .gamebar .gamebar_container {
    padding-top: 0.1rem;
  }
  main > .gamebar .gamebar_container > .gamebar_container_row {
    display: flex;
    flex-direction: column;
  }
  main > .gamebar .gamebar_container > .gamebar_container_row > .gamebar_section_left > img {
    position: absolute;
    top: 25rem;
    left: 25rem;
  }
}/*# sourceMappingURL=style.css.map */