@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* font-family: "Josefin Sans", sans-serif; */

:root { 
    --fonts: "Josefin Sans", sans-serif;
    --colors: #667b91;
    --content-width: 1167px;
    --container-offset: 50px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
}